<%
parameters = {
    title: "更新履歴",
    entitle: "News",
    css: "contents",
    js: "app.min",
    description: "更新履歴の一覧です。",
    ogpimage: "eyecatch.jpg"
}
%><%- include("util/_init_load") %><%- include("../../../../src/ejs/util/_functions_article") %><%- include("../../../../src/ejs/util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("../../../../src/ejs/partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("../../../../src/ejs/partial/_header", { config, commonVar }) %>
<%- include("../../../../src/ejs/partial/_eyecatch", { headerString }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <aside class="container">
<%- include("../../../../src/ejs/partial/_breadcrumb", { parameters, relPath }) %>
        </aside>
        <section class="container my-5">
            <div class="page-header mb-3 text-center <%= id %>_header">
                <h2>更新履歴<small class="ml-3">Release Notes</small></h2>
            </div>
<%- include("../../../../src/ejs/partial/_pagination", { pages, pageLength, parameters }) %>
            <div class="row align-items-top my-4 <%= id %>_contents" id="<%= id %>_contents">
<%- include("../../../../src/ejs/partial/_newscards.ejs", { relPath, newsBlock }) %>
            </div>
<%- include("../../../../src/ejs/partial/_pagination", { pages, pageLength, parameters }) %>
            <div class="text-center my-4">
                <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include("../../../../src/ejs/partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("../../../../src/ejs/partial/_js_loader", { parameters, relPath }) %>
</body>
</html>