<%
parameters = {
    title: "使い方",
    entitle: "How to use?",
    css: "contents",
    js: "app.min",
    description: "Kiribi Ususamaの使い方についてご説明します。",
    ogpimage: "eyecatch.jpg"
}
%><%- include("util/_init_load") %><%- include("util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("partial/_header", { config, commonVar }) %>
<%- include("partial/_eyecatch", { headerString }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <aside class="container">
<%- include("partial/_breadcrumb", { parameters, relPath }) %>
        </aside>
        <section class="container my-5">
                <div class="page-header mb-3 text-center how2use_header">
                    <h2>動作要件<small class="ml-3">System Requirement</small></h2>
                </div>
                <div class="how2use_contents">
                    <h3>Node.js</h3>
                    <ul>
                        <li><code>node</code>: <code>>= 9.0.0</code></li>
                        <li><code>npm</code>: <code>>= 4.0.0</code></li>
                    </ul>
                    <h3>CDN</h3>
                    <p>デフォルトで以下のCDNを使用しています。</p>
                    <ul>
                        <li>Font Awesome</li>
                        <li>Google Fonts(Dansing Scripts, Sawarabi Mincho)</li>
                    </ul>
                </div>
            </section>
        <section class="container my-5">
<%- include("partial/_getstarted") %>
        </section>
        <section class="container my-5">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>コマンド一覧<small class="ml-3">Commands</small></h2>
            </div>
            <div class="how2use_contents">
                <ul>
                    <li><code>deploy</code>: <a href="<%= relPath %>about.html#features_initsetting">予め設定しておいた</a>FTP情報を使用して、サーバへFTPアップロードを行います</li>
                    <li><code>guide</code>: <a href="<%= relPath %>about.html#features_styleguide">スタイルガイド</a>を生成します(<code>plugins.yml</code>の<code>styleguide</code>を<code>true</code>に設定しておくこと)</li>
                    <li><code>setting</code>: 初期設定画面を開きます</li>
                    <li><code>plugin</code>: プラグインを読み込むためのscss, jsファイルを生成します</li>
                    <li><code>new</code>: 開発端末の時刻を使用して新着記事を生成します</li>
                    <li><code>sitemap</code>: <code>dist</code>ディレクトリ以下にあるHTMLファイルから、サイトマップを生成します</li>
                    <li><code>sitexml</code>: <code>dist</code>ディレクトリ以下にあるHTMLファイルから、検索エンジン用のサイトマップ(XMLファイル)を生成します</li>
                    <li><code>search</code>: <code>dist</code>ディレクトリ以下にあるHTMLファイルから、<code>list.js</code>を使ったサイト内検索ページを生成します</li>
                    <li><code>prettier</code>: Prettierによるコード整形を実施します</li>
                    <li><code>test</code>: <code>htmllint</code>, <code>eslint</code>, <code>stylelint</code>によるチェックを実施します。また、同時にHTML中に<code>http</code>始まりのURLを検出します</li>
                </ul>
                <p>※<code>test</code>以外のコマンドは全て<code>npm run</code>を前に付けること。</p>
            </div>
        </section>
        <section class="container my-5">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>設定ファイルの内容<small class="ml-3">Settings</small></h2>
            </div>
            <div class="how2use_contents"></div>
                <p><code>bin/config/</code>ディレクトリにあるYAMLファイルの設定項目の一覧です。</p>
                <p><code>plugins.yml</code>に関しては以下の「<a href="#pluginsList">プラグイン一覧</a>」をご参照ください。</p>
                <h3 class="mt-3"><code>config.yml</code></h3>
                <p>全般的な設定項目です。</p>
                <ul>
                    <li><code>commons</code>: 共通設定<ul>
                        <li><code>sitename</code>: (str) サイト名</li>
                        <li><code>description</code>: (str) サイトの説明(<code>&lt;meta description&gt;</code>)</li>
                        <li><code>year</code>: (num) コピーライトに表示する年数</li>
                        <li><code>author</code>: (str) コピーライトに表示する著者情報</li>
                        <li><code>url</code>: (str) サイトのURL</li>
                    </ul></li>
                    <li><code>param</code>:<ul>
                        <li><code>news</code>: 新着情報に関する設定<ul>
                            <li><code>title</code>: (str) 新着情報一覧ページの名称を変更できます(e.g. 「新着情報」「ニュース」「更新履歴」)</li>
                            <li><code>baseurl</code>: (str) 記事ページのベースURL(<code>npm run new</code>した際にFront Matterに代入される値)を変更できます</li>
                            <li><code>indexcount</code>: (num) トップページに表示する新着情報の件数</li>
                            <li><code>newscount</code>: (num) 新着情報一覧ページに表示する新着情報の件数(1ページ当たり)</li>
                            <li><code>wpapi</code>: (str) WordPressの「投稿」一覧を取得するWP REST APIのURLを指定します (プラグイン)</li>
                        </ul></li>
                        <li><code>ogp</code>: (プラグイン)<ul>
                            <li><code>ogpimage</code>: (str) OGPで使用する画像ファイルのパス</li>
                            <li><code>twitteraccount</code>: (str) OGPで使用するTwitterアカウント</li>
                            <li><code>newsthumbnail</code>: (str) 新着情報一覧ページで表示する記事のサムネイル画像(デフォルト画像)              </li>
                        </ul></li>
                        <li><code>analytics</code>: (str) アナリティクスID(Google Analytics用) (プラグイン)</li>
                        <li><code>searchconsole</code>: (str) Verification Code(Google Search Console用) (プラグイン)</li>
                        <li><code>articlesns</code>: 記事ページの各種SNSシェア用ボタンを表示するか否か (プラグイン)<ul>
                            <li><code>twitter</code>: (bool)</li>
                            <li><code>facebook</code>: (bool)</li>
                            <li><code>hatena</code>: (bool)</li>
                            <li><code>line</code>: (bool)</li>
                            <li><code>pocket</code>: (bool)</li>
                            <li><code>feedly</code>: (bool)</li>
                        </ul></li>
                    </ul></li>
                </ul>
                <h3 class="mt-3"><code>commonvar.yml</code></h3>
                <p>ejs, Scssで共通で使用する設定です。</p>
                <ul>
                    <li><code>color</code>: (str) 文字色</li>
                    <li><code>bg-color</code>: (str) メインコンテンツ部分の背景色</li>
                    <li><code>main-color</code>: (str) メインカラーの指定(サイトのメインカラーの他、テーマカラーでも使用します)</li>
                    <li><code>navbar-height</code>: (str) ヘッダ(Bootstrapのナビゲーションバー)の高さの指定。アイキャッチ画像の上に<code>margin-top</code>を追加したり、<code>body</code>タグに<code>data-offset</code>をセットします</li>
                    <li><code>footer-height</code>: (str) フッタの高さ。<code>l-upper</code>クラスと合わせて、コンテンツ表示領域が画面高さに及ばない場合にフッタが下端に来るように調整します</li>
                </ul>
                <h3 class="mt-3"><code>ftpconfig.yml</code></h3>
                <p>FTPアップロード機能(プラグイン)で使用する値です。</p>
                <ul>
                    <li><code>user</code>: (str) FTPのユーザIDの初期値です(実際に使用する値は別ファイルに生成します)</li>
                    <li><code>password</code>: (str) FTPのパスワードの初期値です(実際に使用する値は別ファイルに生成します)</li>
                    <li><code>host</code>: (str) FTPホストの指定です</li>
                    <li><code>port</code>: (num) FTPポートの値です</li>
                    <li><code>localRoot</code>: (str) ローカルのディレクトリ初期位置です</li>
                    <li><code>remoteRoot</code>: (str) サーバのディレクトリ初期位置です</li>
                    <li><code>include</code>: (array) アップロード対象の指定です</li>
                    <li><code>deleteRemote</code>: (bool) アップロード前にサーバのデータを削除するか否かの指定です</li>
                </ul>
            </div>
        </section>
        <section class="container my-5" id="pluginsList">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>プラグイン一覧<small class="ml-3">Plugins</small></h2>
            </div>
            <p><code>bin/config/plugins.yml</code>で有効化/無効化できる機能の一覧です。</p>
            <div class="how2use_contents table-responsive">
                <table class="table table-striped table-hover plugin_table">
                    <thead>
                        <tr>
                            <th>フラグ名</th>
                            <th>デフォルト値</th>
                            <th>説明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>usephp</code></td>
                            <td><code>false</code></td>
                            <td>PHPを使用する場合、<code>browserSync</code>にプロキシとPHPエンジンを指定します(別途<code>.env</code>を手動で設定する必要があります)</td>
                        </tr>
                        <tr>
                            <td><code>news</code></td>
                            <td><code>true</code></td>
                            <td>新着情報(一覧、記事詳細ページ)を生成するか</td>
                        </tr>
                        <tr>
                            <td><code>ssl</code></td>
                            <td><code>true</code></td>
                            <td>SSLを使用してブラウザ表示するか</td>
                        </tr>
                        <tr>
                            <td><code>styleguide</code></td>
                            <td><code>true</code></td>
                            <td>スタイルガイドを生成するか。<br>
                                <code>gulp</code>のデフォルトタスクには含まれていないので、別途タスクを走らせる必要があります。<br>
                                また、別途<code>src/scss/_plugins/styleguide/</code>の中のscssファイルを編集してプロジェクトに沿ったスタイルガイドを作成する必要があります。</td>
                        </tr>
                        <tr>
                            <td><code>sitemap</code></td>
                            <td><code>true</code></td>
                            <td><code>dist/</code>下のHTMLファイルから、サイトマップ(ユーザが閲覧するためのHTML)を生成します。</td>
                        </tr>
                        <tr>
                            <td><code>sitemap_xml</code></td>
                            <td><code>true</code></td>
                            <td>dist/</code>下のHTMLファイルから、サイトマップ(クローラ用のXMLファイル)を生成します。</td>
                        </tr>
                        <tr>
                            <td><code>rss</code></td>
                            <td><code>true</code></td>
                            <td>新着情報からRSSフィードを生成します。<br>
                                ※このフラグに関わらず、<code>news</code>が<code>false</code>の場合は生成されません。</td>
                        </tr>
                        <tr>
                            <td><code>ogp</code></td>
                            <td><code>true</code></td>
                            <td>各ページの<code>head</code>内にOGP用のタグを出力します。<br>
                                ページ名や説明は各ejs内のパラメータ、サイト名やTwitterアカウント情報などは設定ファイル(<code>bin/config/config.yml</code>)を利用して、適宜OGPを設定します。<br>
                                また、新着情報についてはフロントマターを使用して適宜設定できます。</td>
                        </tr>
                        <tr>
                            <td><code>analytics</code></td>
                            <td><code>true</code></td>
                            <td>Google アナリティクス用のタグを<code>head</code>内に出力します。<br>
                                ※別途、設定ファイル(<code>bin/config/config.yml</code>)に<code>UA-XXXXXXXXX-X</code>形式のIDを指定してください。</td>
                        </tr>
                        <tr>
                            <td><code>searchconsole</code></td>
                            <td><code>true</code></td>
                            <td>Googleサーチコンソールの認証コード(<code>google-site-verification</code>)をに出力します。<br>
                                ※別途、設定ファイル(<code>bin/config/config.yml</code>)にIDを指定してください。</td>
                        </tr>
                        <tr>
                            <td><code>pagetop</code></td>
                            <td><code>true</code></td>
                            <td>画面右下にページトップへ戻るボタンを設置します。</td>
                        </tr>
                        <tr>
                            <td><code>articlesns</code></td>
                            <td><code>true</code></td>
                            <td>新着情報の記事詳細ページに各種SNSボタンを設置します。</td>
                        </tr>
                        <tr>
                            <td><code>themecolor</code></td>
                            <td><code>true</code></td>
                            <td>Android Chrome用のテーマカラーを<code>head</code>内に出力します。<br>
                                また、iPhoneなどのURLバーにも背景色を設定します。</td>
                        </tr>
                        <tr>
                            <td><code>safari</code></td>
                            <td><code>true</code></td>
                            <td>iOS Safari用のコードを出力します(<code>background-size:cover;background-attachement:fixed;</code>指定をしたアイキャッチ画像の巨大化)。<br>
                                ※<code>body</code>タグに<code>mobileSafari</code>クラスを付与するので、クラスを用いて別のiOS Safari用の処理に流用することができます。</td>
                        </tr>
                        <tr>
                            <td><code>ie</code></td>
                            <td><code>false</code></td>
                            <td>IE用のコードを出力します(<code>&lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;</code>等)。</td>
                        </tr>
                        <tr>
                            <td><code>chrome</code></td>
                            <td><code>true</code></td>
                            <td>Google Chrome用のコードを出力します(<code>ul</code>, <code>ol</code>の左側のパディングを打ち消す)。</td>
                        </tr>
                        <tr>
                            <td><code>fixedanchor_scss</code></td>
                            <td><code>false</code></td>
                            <td>画面上端にヘッダメニューを固定した場合にアンカースクロールがズレる現象を回避するためのコードを追加します(cssバージョン)。<br>
                                ※<code>fixedanchor_js</code>と両方とも<code>true</code>にはしないでください。</td>
                        </tr>
                        <tr>
                            <td><code>fixedanchor_js</code></td>
                            <td><code>true</code></td>
                            <td>画面上端にヘッダメニューを固定した場合にアンカースクロールがズレる現象を回避するためのコードを追加します(cssバージョン)。<br>
                                ※<code>fixedanchor_scss</code>と両方とも<code>true</code>にはしないでください。</td>
                        </tr>
                        <tr>
                            <td><code>lightbox</code></td>
                            <td><code>true</code></td>
                            <td><a href="https://lokeshdhakar.com/projects/lightbox2/">Lightbox</a>を使用します。<br>
                                ※画像への指定は別途行ってください。</td>
                        </tr>
                        <tr>
                            <td><code>slick</code></td>
                            <td><code>true</code></td>
                            <td><a href="https://kenwheeler.github.io/slick/">slick</a>を使用します。</td>
                        </tr>
                        <tr>
                            <td><code>svghexagon</code></td>
                            <td><code>false</code></td>
                            <td>ヘッダメニューのハンバーガーの背景にsvgを使用して六角形を描画します。</td>
                        </tr>
                        <tr>
                            <td><code>imagemin</code></td>
                            <td><code>true</code></td>
                            <td>Gulpタスクで画像の容量を圧縮します。<code>false</code>の場合、画像ファイルをそのままコピーします。<br>
                                ※Windows環境の場合、事前にPowerShellで<code>npm i -g windows-build-tools</code>を行う必要があります。</td>
                        </tr>
                        <tr>
                            <td><code>sitesearch</code></td>
                            <td><code>false</code></td>
                            <td><code>dist</code>ディレクトリ以下にあるHTMLファイルから、<code>list.js</code>を使ったサイト内検索ページを生成します</td>
                        </tr>
                        <tr>
                            <td><code>wordpress</code></td>
                            <td><code>false</code></td>
                            <td><code>src/contents</code>下のMarkdownファイルからではなく、外部のWordPressサイトの「投稿」データを利用して新着情報を生成します</td>
                        </tr>
                        <tr>
                            <td><code>advanced_typo</code></td>
                            <td><code>false</code></td>
                            <td>Scssに<code>font-size</code>、<code>line-height</code>、<code>margin</code>、<code>padding</code>のベースを追加する。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="container my-5">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>ディレクトリ構造<small class="ml-3">Directory Structure</small></h2>
            </div>
            <div class="how2use_contents">
                <pre><code>
root/
  ├ .github/                  //Github Actionsを利用する際に使用します(通常は編集しない)
  ├ bin/                      //nodeスクリプトや設定ファイル(config/ 以外は通常は編集しない)
  │   ├ config/
  │   │   ├ commonvar.yml     //ejs, Scss, JSで共通で使い回す値(テーマカラーやヘッダの高さ等)
  │   │   ├ config.yml        //一般設定
  │   │   ├ ftpconfig.yml     //FTP設定テンプレート(編集しない)
  │   │   └ plugins.yml       //プラグイン使用フラグ設定
  │   ├ daishi/               //初期設定画面のソースコード一式
  │   ├ styleguide/           //スタイルガイド用テンプレート
  │   └ jsファイル             //タスクスクリプト
  ├ gulp/                     //gupタスク(通常編集しない)
  ├ src/
  │   ├ contents/             //(npm start で自動生成されます)新着記事Markdown格納ディレクトリ(1記事1ファイル)
  │   ├ ejs/
  │   │   ├ _plugins/         //プラグイン機能ディレクトリ
  │   │   ├ partial/          //ヘッダ・フッタ等のパーツ
  │   │   ├ util/             //表示・出力はされないejsファイル(パスの処理など)
  │   │   ├ about.ejs         //一般ページサンプル
  │   │   ├ article.ejs       //新着記事、詳細ページテンプレート
  │   │   ├ index.ejs         //トップページ
  │   │   └ news.ejs          //新着記事、一覧ページテンプレート
  │   ├ favicon/
  │   ├ img/                  //画像ファイル
  │   │   └ thumbnails/       //新着記事サムネイル画像格納ディレクトリ
  │   ├ js/
  │   │   ├ _plugins/         //プラグイン機能ディレクトリ
  │   │   └ app.js            //メインスクリプト
  │   ├ php/                  //PHPファイル用のディレクトリ
  │   ├ scss/
  │   │   ├ _plugins/         //プラグイン機能ディレクトリ
  │   │   ├ assets/           //(npm start で自動生成されます)Bootstrap等のフレームワークのコードの格納ディレクトリ(編集のため)
  │   │   ├ foundation/       //FLOCSSのディレクトリ構造で構成
  │   │   ├ layout/           //FLOCSSのディレクトリ構造で構成
  │   │   ├ object/           //FLOCSSのディレクトリ構造で構成
  │   │   │   ├ component/    //FLOCSSのディレクトリ構造で構成
  │   │   │   ├ project/      //FLOCSSのディレクトリ構造で構成
  │   │   │   └ utility/      //FLOCSSのディレクトリ構造で構成
  │   │   ├ contents.scss     //トップページ以外用Scss
  │   │   └ index.scss        //トップページ
  ├ .browserslistrc
  ├ .eslintrc.json
  ├ .gitignore
  ├ .htmllintrc
  ├ .stylelintrc.json
  ├ gulpfile.js
  ├ package.json
  ├ readme.md
  └ sample.env            //.envのサンプル
                </code></pre>
            </div>
        </section>
        <section class="container my-5">
            <div class="page-header mb-3 text-center how2use_header">
                <h2><code>advanced_typo</code>のクラスと効果一覧<small class="ml-3">advanced_typo</small></h2>
            </div>
            <div class="how2use_contents">
                <div class="mb-4">
                    <h3>font-size</h3>
<% for (let i = 1; i<= 10; i++) { %>
                    <div class="fs-<%= i %>">Lorem Ipsum (fs-<%= i %>)</div>
<% } %>
                </div>
                <div class="mb-4">
                    <h3>line-height</h3>
<% for (let i = 1; i<= 5; i++) { %>
                    <div class="lh-<%= i %>">Lorem Ipsum (lh-<%= i %>)</div>
<% } %>
                </div>
                <div class="mb-4">
                    <h3>margin</h3>
<% for (let i = 1; i<= 6; i++) { %>
                    <div class="u-my-<%= i %>">Lorem Ipsum (u-my-<%= i %>)</div>
<% } %>
                </div>
                <div class="mb-4">
                        <h3>padding</h3>
<% for (let i = 1; i<= 6; i++) { %>
                    <div class="u-py-<%= i %>">Lorem Ipsum (u-py-<%= i %>)</div>
<% } %>
                </div>
            </div>
        </section>
        <section class="container my-5">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>その他機能<small class="ml-3">Other Features</small></h2>
            </div>
            <div class="how2use_contents">
                <h3 class="mt-3 mb-2"><code>src/scss/foundation/_var.scss</code></h3>
                <p>gulpタスクが走ると<code>_var.scss</code>ファイルが生成されます。このファイルは<code>bin/config/commonvar.yml</code>から自動で生成されるため、編集しないでください。</p>
                <p>なお、<code>bin/config/commonvar.yml</code>は<a href="<%= relPath %>about.html#features_gulp">gulpの機能</a>でも少し触れていますが、ejs, Scss等で共通する変数をまとめたものです。編集の際にはこちらを編集するようにしてください。</p>
                <h3 class="mt-3 mb-2"><code>relPath</code></h3>
                <p>ejsに<code>relPath</code>という変数が指定できます。これは、現在のejsファイルの相対パスを示すものです。</p>
                <p>ただし、一部のejsはテンプレートとして実際のディレクトリ構造とは異なるパスを出力するため、この変数で指定をしています。</p>
                <div class="table-responsive mt-3 mb-2">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ejsファイル</th>
                                <th>相対パスの深さ(上の階層に戻る個数)</th>
                                <th>実ファイルの設置場所(<code>src/ejs/</code>をルートとしてカウント)</th>
                                <th>備考</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>news.ejs</th>
                                <td>1</td>
                                <td>0</td>
                                <td>新着情報一覧ページのテンプレート</td>
                            </tr>
                            <tr>
                                <th>article.ejs</th>
                                <td>2</td>
                                <td>0</td>
                                <td>新着情報詳細ページのテンプレート</td>
                            </tr>
                            <tr>
                                <th>_plugins/sitemap/sitemap.ejs</th>
                                <td>0</td>
                                <td>2</td>
                                <td>サイトマップページのテンプレート</td>
                            </tr>
                            <tr>
                                <th>_plugins/sitemap/sitesearch.ejs</th>
                                <td>0</td>
                                <td>2</td>
                                <td>サイト内検索ページのテンプレート</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="container py-5">
            <div class="text-center my-4">
                <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include("partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("partial/_js_loader", { parameters, relPath }) %>
</body>
</html>